/* Import the Rubik font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
*,body{
  padding: 0%;
  margin: 0%;
}

.nav-bar{
  display: flex;
  width:100%;
  height:12vh;
  background: rgb(89,112,227);
  background: linear-gradient(240deg, rgba(89,112,227,1) 0%, rgba(233,117,164,1) 100%);
  border-radius: 50px;
  position:fixed;
}


ul{
  list-style-type: none;
  display: flex;
  padding-top: 25px;
  
}

li{
  text-decoration: none;
  color: white;
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  font-weight: 500;
  
}

.logo{
  text-align: left;
  padding-left: 20px;
  margin-right: 1000px;
  cursor: pointer;
}
.nav-input{
  text-align: right;
  margin-right: 20px;
  cursor: pointer;
}

.logo:hover,.nav-input:hover{
  color: rgb(16, 8, 8);
}

.hero-section{
  width:100%;
  height:100vh;
  background: rgb(89,112,227);
  background: linear-gradient(90deg, rgba(89,112,227,1) 0%, rgba(242,55,131,1) 100%);
  /* border-radius:0px 0px 50px 50px; */
  display: flex;
  
}

.hero-font{
  font-family: "Rubik", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 100px;
  padding-top: 180px;
  padding-left: 150px;
  width:50%;
}

.hero-img{
  width: 50%;
  padding-left: 250px;
  padding-top: 100px;
 
}
.img-hero{
  margin: 10px;
  width: 500px;
  height: 500px;
  background-image: url('https://fastly.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I');
  /* background: rgb(89,112,227);
  background: linear-gradient(90deg, rgba(89,112,227,1) 0%, rgba(233,117,164,1) 100%); */
  border-radius:500px;
  cursor: pointer;
  /* object-fit: cover;
  background-repeat: no-repeat; */
}


.heading{
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  margin:0px 250px 0px 250px;
  text-align: center;
  padding: 20px;
  font-size: 40px;
}

.img-section{
  /* margin-right: 100px; */
  /* margin:0px 100px 0px 100px; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.img1{
  margin: 10px;
  width: 400px;
  height: 400px;
  /* background-image: url('https://fastly.picsum.photos/id/20/3670/2462.jpg?hmac=CmQ0ln-k5ZqkdtLvVO23LjVAEabZQx2wOaT4pyeG10I'); */
  background: rgb(89,112,227);
  background: linear-gradient(90deg, rgba(89,112,227,1) 0%, rgba(233,117,164,1) 100%);
  border-radius:20px;
  cursor: pointer;

}

.img1:hover,.img-hero:hover{
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2),
  -3px -3px 5px rgba(0, 0, 0, 0.2),
  0 0 10px rgba(0, 0, 0, 0.1);
  background: linear-gradient(90deg, #efd5ff 0%, #515ada 100%);
  transform: scale(1.03);
  /* border-color: #3A4D54; */
}

button{
  background-color:white;
  height: 41px;
  width: 199px;
  font-family:"Rubik", sans-serif;
  border-color: #3A4D54;
  cursor: pointer; 
  padding:10px;
  border-radius: 10px;
  font-weight: 500;
  font-size: 15px;
  margin-top: 350px;
  margin-left: 90px;
  
}

button:hover{
  background-color: #3A4D54;
  color: white;
}

.about{
  margin-top: 50px;
}


@media screen and (max-width: 600px) {
  .img-section{
    display:block;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;

  }
  .img1{
    margin: 10px;
    width: 100%;
    height: 400px;
  
  }
}